version: '3.9'

services:
  app:
    container_name: docker-logrotate-app
    image: nginx:1.23.2-alpine
    ports:
      - '8000:80'
    volumes:
      - ./nginx-templates:/etc/nginx/templates
      - ./src:/usr/share/nginx/html
